
<%- include("./partials/header") %>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Todo App</span>
  </nav>

  <div class="container mt-5" >
    <form action="/todo" class="d-flex" method="post">
        <input type="text" name="todo" id="todo" class="form-control" placeholder="Enter Todo">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2" >
    </form>

    <ul class="list-group mt-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item">
            <%= todos.todo %>
        <a href="/delete/<%= todos._id %>" class="btn btn-danger btn-sm">Delete</a></li> 
        <% }) %>
      </ul>
  </div>

<%- include("./partials/footer") %>